	<nav>
	    <div class="nav-wrapper">
	      	<ul id="nav-mobile" class="left hide-on-med-and-down">
	        	<li><a href="/">Find Recipes</a></li>
	        	<li><a href="/vegetarian">Vegetarian</a></li>
	      	</ul>
	    </div>
  	</nav>